In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
import os

path = r'C:\Users\Philipe Leal\Dropbox\Profissao\Python\Termal'

for file in os.listdir(path):
    if file.endswith(".xlsx"):
        
        path  = os.path.join(path, file)
        print(path)

C:\Users\Philipe Leal\Dropbox\Profissao\Python\Termal\ASTER_THERMAL_BANDS.xlsx

In [15]:

Sat_DS = pd.read_excel(path)

Sat_DS.head()

,Bands_ASTER,Bandpass(µm),Effective_Wavelength(µm),UCC,K1(Wm-2µm-1),K2(K)
0,10,"8,125-8,475",8291,0.006882,3040.136402,1735.337945
1,11,"8,475-8,825",8634,0.006780,2482.375199,1666.398761
2,12,"8,925-9,275",9075,0.006590,1935.060183,1585.420044
3,13,"10,25-10,95",10657,0.005693,866.468575,1350.069147
4,14,"10,95-11,65",11318,0.005225,641.326517,1271.221673

In [29]:

print("K1: ", Sat_DS[Sat_DS["Bands_ASTER"] == 10]["K2(K)"],
      "K2: ", Sat_DS[Sat_DS["Bands_ASTER"] == 10]["K1(Wm-2µm-1)"]
     )

K1:  0    1735.337945
Name: K2(K), dtype: float64 K2:  0    3040.136402
Name: K1(Wm-2µm-1), dtype: float64

In [30]:
import math
def Temperatura_SAT (Lx):
    
    K1 = Sat_DS[Sat_DS["Bands_ASTER"] == 10]["K1(Wm-2µm-1)"]
    K2 = Sat_DS[Sat_DS["Bands_ASTER"] == 10]["K2(K)"]
    
    Temperatura = K2 / math.log( (K1/Lx + 1) , math.e)
    
    return Temperatura

0.4054651081081644