In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cartopy.crs as ccrs
import xarray as xr
import os, sys
import dask

pd.set_option("display.max_rows", 1000000)

In [38]:


ds = xr.tutorial.open_dataset('rasm').load()

def parse_datetime(time):
    return pd.to_datetime([str(x) for x in time])

ds.coords['time'] = parse_datetime(ds.coords['time'].values)

ds = ds.isel({'x':slice(0,20),
              'y':slice(0,20)})

ds

<xarray.Dataset>
Dimensions:  (time: 36, x: 20, y: 20)
Coordinates:
  * time     (time) datetime64[ns] 1980-09-16T12:00:00 1980-10-17 ... 1983-08-17
    xc       (y, x) float64 189.2 189.4 189.6 189.7 ... 186.8 186.9 187.1 187.3
    yc       (y, x) float64 16.53 16.78 17.02 17.27 ... 23.72 24.0 24.27 24.54
Dimensions without coordinates: x, y
Data variables:
    Tair     (time, y, x) float64 nan nan nan nan nan ... nan nan nan nan nan
Attributes:
    title:                     /workspace/jhamman/processed/R1002RBRxaaa01a/l...
    institution:               U.W.
    source:                    RACM R1002RBRxaaa01a
    output_frequency:          daily
    output_mode:               averaged
    convention:                CF-1.4
    references:                Based on the initial model of Liang et al., 19...
    comment:                   Output from the Variable Infiltration Capacity...
    nco_openmp_thread_number:  1
    NCO:                       "4.6.0"
    history:                   Tue Dec 27 14:15:22 2016: ncatted -a dimension...

In [40]:
ds.attrs['comment']

'Output from the Variable Infiltration Capacity (VIC) model.'

In [37]:
ds.indexes

time: DatetimeIndex(['1980-09-16 12:00:00', '1980-10-17 00:00:00',
                     '1980-11-16 12:00:00', '1980-12-17 00:00:00',
                     '1981-01-17 00:00:00', '1981-02-15 12:00:00',
                     '1981-03-17 00:00:00', '1981-04-16 12:00:00',
                     '1981-05-17 00:00:00', '1981-06-16 12:00:00',
                     '1981-07-17 00:00:00', '1981-08-17 00:00:00',
                     '1981-09-16 12:00:00', '1981-10-17 00:00:00',
                     '1981-11-16 12:00:00', '1981-12-17 00:00:00',
                     '1982-01-17 00:00:00', '1982-02-15 12:00:00',
                     '1982-03-17 00:00:00', '1982-04-16 12:00:00',
                     '1982-05-17 00:00:00', '1982-06-16 12:00:00',
                     '1982-07-17 00:00:00', '1982-08-17 00:00:00',
                     '1982-09-16 12:00:00', '1982-10-17 00:00:00',
                     '1982-11-16 12:00:00', '1982-12-17 00:00:00',
                     '1983-01-17 00:00:00', '1983-02-15 12:00:00',
                     '1983-03-17 00:00:00', '1983-04-16 12:00:00',
                     '1983-05-17 00:00:00', '1983-06-16 12:00:00',
                     '1983-07-17 00:00:00', '1983-08-17 00:00:00'],
                    dtype='datetime64[ns]', name='time', freq=None)

In [3]:
sys.path.insert(0, r'C:\Users\Philipe Leal\Dropbox\Profissao\Python\Estatisticas_e_Regressoes\Distribuicoes_Estatisticas\Extremes\extreme_events\extreme_events')

In [7]:
from extreme_classifier import Extreme_Classifier

In [8]:
def parse_extremes(x, distribution_type='Positive', b=True):

    y = np.where(np.abs(x)==np.inf, 0, x)  
    
    y = np.where(np.isnan(y), 0, y)
    
    if np.all(y) == 0:
        
        return x
    
    else:
        
        EE = Extreme_Classifier(distribution_type=distribution_type)
        
        EE.fit(y)
        
        Classified = EE.predict(y, b)
        
        print(Classified, '\n'*3)
        
        return Classified.codes

In [9]:

def xarray_parse_extremes(ds, dim='time', new_dim_name='classes', kwargs={'b': False, 'distribution_type':'Positive'}):
    
    filtered = xr.apply_ufunc(parse_extremes,
                              ds,
                              dask='allowed',
                              vectorize=True,
                              input_core_dims=[[dim]],
                              #exclude_dims = [[dim]],
                              output_core_dims=[[new_dim_name]],
                              kwargs=kwargs,
                              #output_dtypes = [[int]]

                             join='outer',
                             dataset_fill_value=np.nan
                             ).compute()
    
    ds['abc'] = filtered[new_dim_name]
    
    return ds

In [10]:
filtered = xarray_parse_extremes(ds)

                                   Tair          xc         yc  abc
classes time                x  y
0       1980-09-16 12:00:00 0  0    NaN  189.222932  16.534986    0
                               1    NaN  188.968370  16.693973    0
                               2    NaN  188.712343  16.852192    0
                               3    NaN  188.454851  17.009638    0
                               4    NaN  188.195878  17.166281    0
                               5    NaN  187.935411  17.322119    0
                               6    NaN  187.673463  17.477129    0
                               7    NaN  187.410020  17.631298    0
                               8    NaN  187.145112  17.784607    0
                               9    NaN  186.878694  17.937038    0
                               10   NaN  186.610795  18.088581    0
                               11   NaN  186.341401  18.239214    0
                               12   NaN  186.070512  18.388920    0
                               13   NaN  185.798143  18.537687    0
                               14   NaN  185.524278  18.685497    0
                               15   NaN  185.248918  18.832329    0
                               16   NaN  184.972063  18.978170    0
                               17   NaN  184.693742  19.123003    0
                               18   NaN  184.413927  19.266809    0
                               19   NaN  184.132615  19.409576    0
                            1  0    NaN  189.389909  16.778456    0
                               1    NaN  189.134706  16.938654    0
                               2    NaN  188.878007  17.098089    0
                               3    NaN  188.619829  17.256748    0
                               4    NaN  188.360139  17.414608    0
                               5    NaN  188.098970  17.571655    0
                               6    NaN  187.836275  17.727878    0
                               7    NaN  187.572084  17.883255    0
                               8    NaN  187.306398  18.037771    0
                               9    NaN  187.039201  18.191406    0
                               10   NaN  186.770479  18.344154    0
                               11   NaN  186.500261  18.495987    0
                               12   NaN  186.228532  18.646892    0
                               13   NaN  185.955293  18.796854    0
                               14   NaN  185.680543  18.945856    0
                               15   NaN  185.404268  19.093881    0
                               16   NaN  185.126512  19.240906    0
                               17   NaN  184.847230  19.386921    0
                               18   NaN  184.566453  19.531908    0
                               19   NaN  184.284166  19.675848    0
                            2  0    NaN  189.558366  17.022224    0
                               1    NaN  189.302537  17.183645    0
                               2    NaN  189.045152  17.344309    0
                               3    NaN  188.786302  17.504186    0
                               4    NaN  188.525926  17.663271    0
                               5    NaN  188.264024  17.821541    0
                               6    NaN  188.000612  17.978981    0
                               7    NaN  187.735658  18.135576    0
                               8    NaN  187.469194  18.291307    0
                               9    NaN  187.201204  18.446163    0
                               10   NaN  186.931672  18.600120    0
                               11   NaN  186.660646  18.753164    0
                               12   NaN  186.388078  18.905279    0
                               13   NaN  186.113969  19.056448    0
                               14   NaN  185.838334  19.206653    0
                               15   NaN  185.561159  19.355873    0
                               16   NaN  185.282472  19.504099    0
                               17   NaN  185.002244  19.651308    0
                               18   NaN  184.720506  19.797485    0
                               19   NaN  184.437227  19.942610    0
                            3  0    NaN  189.728334  17.266281    0
                               1    NaN  189.471849  17.428938    0
                               2    NaN  189.213838  17.590837    0
                               3    NaN  188.954286  17.751945    0
                               4    NaN  188.693208  17.912264    0
                               5    NaN  188.430604  18.071762    0
                               6    NaN  188.166459  18.230434    0
                               7    NaN  187.900758  18.388258    0
                               8    NaN  187.633516  18.545219    0
                               9    NaN  187.364747  18.701300    0
                               10   NaN  187.094407  18.856481    0
                               11   NaN  186.822542  19.010746    0
                               12   NaN  186.549119  19.164080    0
                               13   NaN  186.274156  19.316463    0
                               14   NaN  185.997636  19.467882    0
                               15   NaN  185.719560  19.618313    0
                               16   NaN  185.439958  19.767746    0
                               17   NaN  185.158784  19.916159    0
                               18   NaN  184.876069  20.063537    0
                               19   NaN  184.591798  20.209858    0
                            4  0    NaN  189.899827  17.510620    0
                               1    NaN  189.642702  17.674522    0
                               2    NaN  189.384035  17.837660    0
                               3    NaN  189.123811  18.000015    0
                               4    NaN  188.862031  18.161575    0
                               5    NaN  188.598726  18.322317    0
                               6    NaN  188.333833  18.482229    0
                               7    NaN  188.067399  18.641291    0
                               8    NaN  187.799379  18.799488    0
                               9    NaN  187.529817  18.956802    0
                               10   NaN  187.258699  19.113220    0
                               11   NaN  186.985994  19.268717    0
                               12   NaN  186.711732  19.423279    0
                               13   NaN  186.435884  19.576891    0
                               14   NaN  186.158479  19.729534    0
                               15   NaN  185.879518  19.881187    0
                               16   NaN  185.598970  20.031837    0
                               17   NaN  185.316850  20.181465    0
                               18   NaN  185.033189  20.330053    0
                               19   NaN  184.747926  20.477583    0
                            5  0    NaN  190.072862  17.755226    0
                               1    NaN  189.815095  17.920385    0
                               2    NaN  189.555787  18.084772    0
                               3    NaN  189.294877  18.248384    0
                               4    NaN  189.032426  18.411192    0
                               5    NaN  188.768403  18.573187    0
                               6    NaN  188.502778  18.734346    0
                               7    NaN  188.235597  18.894661    0
                               8    NaN  187.966813  19.054106    0
                               9    NaN  187.696474  19.212669    0
                               10   NaN  187.424531  19.370327    0
                               11   NaN  187.151018  19.527065    0
                               12   NaN  186.875917  19.682869    0
                               13   NaN  186.599214  19.837719    0
                               14   NaN  186.320924  19.991594    0
                               15   NaN  186.041047  20.144482    0
                               16   NaN  185.759569  20.296360    0
                               17   NaN  185.476518  20.447216    0
                               18   NaN  185.191865  20.597021    0
                               19   NaN  184.905626  20.745769    0
                            6  0    NaN  190.247468  18.000099    0
                               1    NaN  189.989061  18.166517    0
                               2    NaN  189.729097  18.332170    0
                               3    NaN  189.467515  18.497042    0
                               4    NaN  189.204378  18.661114    0
                               5    NaN  188.939638  18.824371    0
                               6    NaN  188.673311  18.986791    0
                               7    NaN  188.405366  19.148363    0
                               8    NaN  188.135835  19.309065    0
                               9    NaN  187.864702  19.468885    0
                               10   NaN  187.591966  19.627798    0
                               11   NaN  187.317628  19.785787    0
                               12   NaN  187.041673  19.942842    0
                               13   NaN  186.764116  20.098940    0
                               14   NaN  186.484941  20.254062    0
                               15   NaN  186.204149  20.408192    0
                               16   NaN  185.921770  20.561312    0
                               17   NaN  185.637758  20.713402    0
                               18   NaN  185.352144  20.864443    0
                               19   NaN  185.064912  21.014419    0
                            7  0    NaN  190.423631  18.245218    0
                               1    NaN  190.164613  18.412914    0
                               2    NaN  189.903978  18.579838    0
                               3    NaN  189.641755  18.745983    0
                               4    NaN  189.377916  18.911325    0
                               5    NaN  189.112489  19.075853    0
                               6    NaN  188.845430  19.239546    0
                               7    NaN  188.576753  19.402384    0
                               8    NaN  188.306474  19.564358    0
                               9    NaN  188.034547  19.725441    0
                               10   NaN  187.761018  19.885620    0
                               11   NaN  187.485841  20.044874    0
                               12   NaN  187.209047  20.203190    0
                               13   NaN  186.930604  20.360546    0
                               14   NaN  186.650560  20.516924    0
                               15   NaN  186.368883  20.672308    0
                               16   NaN  186.085557  20.826677    0
                               17   NaN  185.800599  20.980017    0
                               18   NaN  185.514024  21.132301    0
                               19   NaN  185.225816  21.283520    0
                            8  0    NaN  190.601396  18.490581    0
                               1    NaN  190.341752  18.659553    0
                               2    NaN  190.080491  18.827764    0
                               3    NaN  189.817598  18.995190    0
                               4    NaN  189.553087  19.161815    0
                               5    NaN  189.286943  19.327623    0
                               6    NaN  189.019182  19.492596    0
                               7    NaN  188.749757  19.656717    0
                               8    NaN  188.478700  19.819967    0
                               9    NaN  188.206010  19.982326    0
                               10   NaN  187.931688  20.143780    0
                               11   NaN  187.655687  20.304310    0
                               12   NaN  187.378038  20.463899    0
                               13   NaN  187.098771  20.622522    0
                               14   NaN  186.817827  20.780168    0
                               15   NaN  186.535234  20.936817    0
                               16   NaN  186.250993  21.092447    0
                               17   NaN  185.965089  21.247043    0
                               18   NaN  185.677553  21.400585    0
                               19   NaN  185.388322  21.553055    0
                            9  0    NaN  190.780778  18.736170    0
                               1    NaN  190.520524  18.906435    0
                               2    NaN  190.258607  19.075937    0
                               3    NaN  189.995073  19.244657    0
                               4    NaN  189.729890  19.412575    0
                               5    NaN  189.463045  19.579674    0
                               6    NaN  189.194551  19.745937    0
                               7    NaN  188.924394  19.911350    0
                               8    NaN  188.652589  20.075888    0
                               9    NaN  188.379121  20.239536    0
                               10   NaN  188.103990  20.402275    0
                               11   NaN  187.827180  20.564091    0
                               12   NaN  187.548707  20.724962    0
                               13   NaN  187.268556  20.884868    0
                               14   NaN  186.986741  21.043791    0
                               15   NaN  186.703248  21.201715    0
                               16   NaN  186.418077  21.358620    0
                               17   NaN  186.131227  21.514482    0
                               18   NaN  185.842698  21.669290    0
                               19   NaN  185.552507  21.823026    0
                            10 0    NaN  190.961793  18.981975    0
                               1    NaN  190.700899  19.153547    0
                               2    NaN  190.438371  19.324348    0
                               3    NaN  190.174180  19.494371    0
                               4    NaN  189.908311  19.663591    0
                               5    NaN  189.640794  19.831991    0
                               6    NaN  189.371583  19.999557    0
                               7    NaN  189.100694  20.166271    0
                               8    NaN  188.828126  20.332107    0
                               9    NaN  188.553895  20.497053    0
                               10   NaN  188.277955  20.661091    0
                               11   NaN  188.000352  20.824201    0
                               12   NaN  187.721040  20.986364    0
                               13   NaN  187.440034  21.147558    0
                               14   NaN  187.157335  21.307775    0
                               15   NaN  186.872941  21.466986    0
                               16   NaN  186.586854  21.625173    0
                               17   NaN  186.299058  21.782318    0
                               18   NaN  186.009553  21.938406    0
                               19   NaN  185.718370  22.093416    0
                            11 0    NaN  191.144441  19.227995    0
                               1    NaN  190.882951  19.400877    0
                               2    NaN  190.619783  19.572992    0
                               3    NaN  190.354936  19.744327    0
                               4    NaN  190.088411  19.914858    0
                               5    NaN  189.820192  20.084570    0
                               6    NaN  189.550294  20.253448    0
                               7    NaN  189.278688  20.421470    0
                               8    NaN  189.005357  20.588619    0
                               9    NaN  188.730348  20.754873    0
                               10   NaN  188.453615  20.920219    0
                               11   NaN  188.175203  21.084635    0
                               12   NaN  187.895051  21.248100    0
                               13   NaN  187.613191  21.410600    0
                               14   NaN  187.329622  21.572115    0
                               15   NaN  187.044328  21.732624    0
                               16   NaN  186.757295  21.892107    0
                               17   NaN  186.468568  22.050545    0
                               18   NaN  186.178102  22.207922    0
                               19   NaN  185.885927  22.364218    0
                            12 0    NaN  191.328782  19.474205    0
                               1    NaN  191.066682  19.648407    0
                               2    NaN  190.802888  19.821848    0
                               3    NaN  190.537416  19.994505    0
                               4    NaN  190.270204  20.166359    0
                               5    NaN  190.001298  20.337396    0
                               6    NaN  189.730684  20.507595    0
                               7    NaN  189.458360  20.676941    0
                               8    NaN  189.184297  20.845407    0
                               9    NaN  188.908525  21.012981    0
                               10   NaN  188.630998  21.179647    0
                               11   NaN  188.351762  21.345381    0
                               12   NaN  188.070787  21.510162    0
                               13   NaN  187.788072  21.673975    0
                               14   NaN  187.503618  21.836799    0
                               15   NaN  187.217424  21.998619    0
                               16   NaN  186.929475  22.159408    0
                               17   NaN  186.639802  22.319149    0
                               18   NaN  186.348375  22.477829    0
                               19   NaN  186.055192  22.635420    0
                            13 0    NaN  191.514802  19.720602    0
                               1    NaN  191.252107  19.896135    0
                               2    NaN  190.987703  20.070909    0
                               3    NaN  190.721574  20.244894    0
                               4    NaN  190.453721  20.418087    0
                               5    NaN  190.184129  20.590454    0
                               6    NaN  189.912828  20.761986    0
                               7    NaN  189.639772  20.932661    0
                               8    NaN  189.364961  21.102457    0
                               9    NaN  189.088426  21.271366    0
                               10   NaN  188.810121  21.439359    0
                               11   NaN  188.530076  21.606418    0
                               12   NaN  188.248262  21.772528    0
                               13   NaN  187.964708  21.937666    0
                               14   NaN  187.679384  22.101814    0
                               15   NaN  187.392274  22.264952    0
                               16   NaN  187.103410  22.427059    0
                               17   NaN  186.812791  22.588121    0
                               18   NaN  186.520387  22.748112    0
                               19   NaN  186.226213  22.907009    0
                            14 0    NaN  191.702531  19.967169    0
                               1    NaN  191.439241  20.144047    0
                               2    NaN  191.174226  20.320162    0
                               3    NaN  190.907457  20.495493    0
                               4    NaN  190.638933  20.670025    0
                               5    NaN  190.368699  20.843736    0
                               6    NaN  190.096681  21.016613    0
                               7    NaN  189.822908  21.188629    0
                               8    NaN  189.547365  21.359770    0
                               9    NaN  189.270082  21.530018    0
                               10   NaN  188.990983  21.699352    0
                               11   NaN  188.710130  21.867750    0

In [37]:
filtered.coords

Coordinates:
  * time     (time) datetime64[ns] 1980-09-16T12:00:00 1980-10-17 ... 1983-08-17
    xc       (y, x) float64 189.2 189.4 189.6 189.7 ... 186.8 186.9 187.1 187.3
    yc       (y, x) float64 16.53 16.78 17.02 17.27 ... 23.72 24.0 24.27 24.54

In [ ]:
filtered.to_dataframe()